.landing {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__siteTitle {
            font-size: 60px;
            display: flex;
            text-shadow: 0px 0px 2px rgb(172, 172, 172);
            font-family: "Montserrat";
            font-weight: 900;
            
            .minimize {
                font-weight: 900;
                overflow: hidden;
                display: block;
                &:first-of-type {
                    margin-right: 20px;
                }
            }
        }
        &__seperator {
            display: block;
            margin-bottom: 10px;
            width: 500px;
            height: 5px;
            border-radius: 2.5px;
            background-color: black;
        }
        .socials {
            display: flex;
            gap: 40px;

            &__icon {
                background-color: rgb(165, 165, 165);
                height: 30px;
                width: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}