.infoContent {
    animation-delay: 1.5s;
    animation-name: showContent;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}


@keyframes showContent {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}