.infoSection {
    display: block;
    position: absolute;
    width: 400px;
    overflow: hidden;
    height: 200px;
    background-color: #8FA4A2;
    left: 300px;
    top: 60vh;
    border-radius: 30px;
    animation-direction: reverse;
    animation-fill-mode: unset;
    &--fullScreen {
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        border-radius: 0;
    }
    &--animation--close {
        animation-name: infoFullScreen;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
        animation-direction: reverse;
    }
    &--animation--open {
        animation-name: infoFullScreen;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-direction: normal;

    }
}




