.infoHover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px;
        max-width: 0;
        overflow: hidden;
        transition: .2s ease-in;
        color: black;
        opacity: 0;
        transform: scale(1.2);
    }
    &:hover {
        h1 {
            max-width: 200px;
            border-right: 1px solid black;
            border-left: 1px solid black;
            transform: scale(1);
            opacity: 1;
        }
    }
}