.scrollOuter {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;

    .scrollInner {
        width: 100%;
        height: 1000vh;
    }
}