.cases {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    overflow: hidden;
    padding-left: -100vw;
    .case:first-of-type {
        margin-left: 100vw;
    }
}