.case {
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        background-color: rgb(255, 255, 255);
        height: 80vh;
        width: 80vw;
        position: relative;


        .caseIMG {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s ease-in-out;
            &--active {
                width: 70%;
            }
        }
        .case__content {
            position: absolute;
            right: 0;
            top: 0;
            width: 30%;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 3fr 1fr;
            height: 100%;
            padding: 20vh 30px;
            border-left: 4px solid rgb(189, 189, 189);
            .title {
                font-size: 50px;
                font-family: "Montserrat";
                font-weight: 700;
                line-height: 60px;
            }
            .education {
                font-size: 20px;
                font-family: "Open Sans";
                font-weight: 600;
            }

            .caseCtaWrapper {
                display: flex;
                gap: 10px;
                height: fit-content;
            }
            .caseCTA {
                padding: 10px 20px;
                color: white;
                font-family: "Open Sans";
                border-radius: 5px;
                background-color: rgb(41, 177, 41);
                transition: box-shadow .15s;

                &:hover {
                    box-shadow: 0 0 10px 2px darken(rgb(41, 177, 41), 20%);
                }
            }
            
        }
    }
}