* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
  text-decoration: none;
}


.app {
  overflow: hidden;
  white-space: nowrap;
  display: grid;
  width: 100vw;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  height: 100vh;
  grid-template-areas: "cv contact" "projects projects";
}

.mainSection {
  height: 70vh;
  width: 100%;
  transition: 1s;
  &__cv {
    background-color: #4E4E4E;
    grid-area: cv;
    width: 50vw;
  }
  &__contact {
    background-color: #1F1F1F;
    grid-area: contact;
    width: 50vw;
  }
  &__projects {
    background-color: #B6B6B6;
    grid-area: projects;
    height: 30vh;
  }
}