* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
  text-decoration: none;
}
html, body {
  scroll-behavior: smooth;
}
body {
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}