* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #F4F1F4;
  overflow: hidden;
  display: flex;
}

.app {
  .bubble--fullScreen {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    border-radius: 0;
    z-index: 10;
  }
  .bubble--animation--close {
    animation-name: infoFullScreen;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-direction: reverse;
    z-index: 10;

  }
  .bubble--animation--open {
    animation-name: infoFullScreen;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: normal;
    z-index: 10;

  
  }
}



@keyframes infoFullScreen {
  40% {
      left: 10vw;
      top: 10vh;
      width: 80vw;
      height: 80vh;
      border-radius: 5px;
  }
  100% {
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      border-radius: 0px;
  }
}